header {
    display: flex;
    justify-content:center;
    width: 100%;
    border: 1px solid white;
    margin-bottom: 2%;
}

img {
    margin: 2%;
    border-radius: 100px;
}

h1 {
    margin-top:5%;
    color:white;
    text-align:center;
}

.profilesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 50vh;
    width: 100%;
    overflow: auto;
    margin-top:3%;
    background-color: black;
}

.search {

    background-color:black;
    width: 100%;
}


.searchBar {
    text-align: center;
    border-radius: 50px;
    width: 80%;
    padding:2%;
    margin-left:5% ;
}

.searchBar:hover {
    color:white;
    background-color: black;
}

.searchBtn {
    height: 11vh;
    margin-left:1%;
    width: 7%;
    border-radius:50px;
}