.avatar {
    height: 20vh;
    width: 20vh;
    border-radius:50px;   
}

.userContainer {
    display: flex;
    flex-direction: column;
    background-color: black; 
    margin: 2%;
    height:10vh;    
}

.gotoProfile  {
    margin: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
}


.profileBtn {
    width: 15vh;
    height: 5vh;
    
    color:white;
    background-color: black;
}
